@charset "ISO-8859-1";
ul{
	padding: 5px;
	padding-left: 0px;
	display: flex;
}
li{
	font-size: 19px;
}
nav {
	list-style: none;
 	background-color: #e8e8e8;
}
a{
	text-decoration: none;
	Color: #400040;
	padding: 5px;
}
nav a:hover{
	background-color: #c0c0c0;
	Color: white;
	border-bottom: 2px solid red;
}

.cl1 {
	width: 100%;
}

input[type=submit]{
	border:3px solid blue;
	background-color: white;
}
input[type=submit]:hover{
	Color: white;
	background-color: blue;
}
input[type=number]{
	border:3px gray blue;
	background-color: white;
}

table {
	position:relative;
	border: 5px solid gray;
	border-radius: 10px;
	box-shadow: 5px 5px gray;
}

